%h1

%table
  %tr
    %th Id Number
    %th Grade Level

  -@students.each do |student|
    %tr
      %td= student.id_number
      %td= student.grade_level
      %td= link_to 'Show', student
      %td= link_to 'Edit', edit_student_path(student)
      %td= link_to 'Destroy', student, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Student', new_student_path

